@font-face {
	font-family: 'Conv_FF Mark Pro Bold';
	src: url('fonts/fonts/FF Mark Pro Bold.eot');
	src: url('fonts/fonts/FF Mark Pro Bold.woff') format('woff'), url('fonts/fonts/FF Mark Pro Bold.ttf') format('truetype'), url('fonts/fonts/FF Mark Pro Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FF Mark Pro Regular';
	src: url('fonts/fonts/FF Mark Pro Regular.eot');
	src: local('☺'), url('fonts/fonts/FF Mark Pro Regular.woff') format('woff'), url('fonts/fonts/FF Mark Pro Regular.ttf') format('truetype'), url('fonts/fonts/FF Mark Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family: 'Conv_FF Mark Pro Bold' !important;
}
.class-background{
    min-width: 100%;
    height: 100%;
    width: 100%;
    z-index: -100;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0;
}
.maintenance{
    padding-top: 3%;
}

.icon-perbaikan{
    max-width: 23%;
}
.counter-layout{
    padding-top: 2%;
    width: 100%;
}
.counter-image{
    
    position:absolute !important;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 40%;
}
.link-old{
    padding-top: 2%;
    max-width: 25%;
    padding-left: 2
    /*position: absolute;*/
    /*bottom: 0px !important;
    left: 50%;
    transform: translate(-50%, 0);*/
}
.background-top{
    max-width: 25%;
    z-index: -1;
}
.content-counter{
    font-family: 'Conv_FF Mark Pro Bold' !important;
    font-size: 3.5vw;
    display: inline-block;
    margin-top: 2.5%;
    width: 100%;
}
.days, .hours, .minutes, .seconds{
    display: inline-block;
    margin-left: 35.5%;
}
.days{
    margin-right: -32.5%;
}
.hours{
    margin-right: -32.5%;
}
.minutes{
    margin-right: -30.5%;
}

/* index.html */


.bold{
    font-family: 'Conv_FF Mark Pro Bold' !important;
}

.emailmodal{
    border-radius: 20px 0px;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 0.4em;
    height: 2.5em !important;
    border: none;
    text-align: center;
}

.btn-masuk-sekarang{
    width: 15vw;
    height: 2.5em !important;
    padding-left: 1em;
    margin-left: 2em;
    border-radius: 20px 0px;
    border:2px solid #FFCB0A;
    color: #FFCB0A;
    background: rgba(255, 255, 255, 0.1);
}

.masuk-sekarang{
    font-family: 'Conv_FF Mark Pro Regular' !important;
    color: #FFCB0A !important;
    text-align: right;
    margin-top: 1.1em;
    margin-right: 2.9em;
}

/*carousel*/
.carousel-caption {
    bottom: 0;
    text-align: left;
    left: 5% !important;
    padding-bottom: 0;
}

.terbaik-caption{
    left: 0;
    width: 20%;
}

.item-name{
    vertical-align: middle; 
    padding-bottom: 2%;
    padding-top: 2%;
}

.backabu{
    position: relative;
    height: 3.5vw;
    margin-left: -2.2em;
}
.itemname{
    margin-left: -12vw;
    position: absolute;  
    margin-top: 1em;
    font-family: 'Conv_FF Mark Pro Regular';
}

.indexbody{
    background: url('../img/Pattern-background-main-with-opacity-30%25.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer-index{
    background: url('../img/BAR%20BOTTOM.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container{
    width: 70%;
}
.navigation{
    background: url('../img/BAR-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 1.6%;
}
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #FFCB0A;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
.navhidden{
    display: none;
}
ul.topnav li.icon {display: none;}

.searchtutorial{
    margin-top: 10.5%;
    border-radius: 23px 0px;   
    padding-left: 7%;
    z-index: 100;
    width: 120%;
}

.emailsignup{
    border-radius: 23px 0px !important;   
}

.btn-navbar{
/*
    margin-left: 17%;
}
*/
}
.allcategory{
    margin-top: 20.5%;
    max-width: 125%;
    
}
.abs{
    position: absolute;
}
.searchbutton{
    margin-top: 1.7vw;
    height: 32px;
    margin-left: 1.5vw;
}

.bantuanbutton{
    width: 39%;
    margin-top: -2.55vw;
    margin-left: 6.2vw;
}

.bagikanbutton{
    width: 33%;
    margin-top: -2.65vw;
    margin-left: 12.3vw;
}

.daftarbutton{
    width: 25%;
    margin-top: -2.65vw;
    margin-left: 20vw;
}

.masukbutton{
    width: 20.5%;
    margin-left: 26.9vw;
    margin-top: -2.8vw;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.space{
    padding-right: 30%;
}
hr{
    margin-top: 2em;
    border: 1px solid #FFCB0A;
}
.terbaik{
    margin-top: -0.2em !important;
}
.carousel-inner > .item > a > img{
    height: 380px;
    border-radius: 60px 0px 60px 0px; 
}
.carousel{
    border-radius: 60px 0px 60px 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.item-terbaik, .terbaru{
    margin-left: 1.5%; 
}

.icon-terbaik{
    width: 1.5em;
}

.terbaiktext, .terbarutext{
    font-size: 1.3em;
}
.terbarutext{
    padding-left: 0.6% !important;
}
.gambar-terbaik{
    border-radius: 23px 0px; 
    height: 17vw;
}

.row1{
    margin-top: 2em;
}

.row2{
    margin-top: 3.5em;
}

.see-all-terbaik, .see-all-terbaru{
    text-align: right;
    margin-top: 2em;
}

.background-see-all-terbaik, .background-see-all-terbaru{
    width: 20em;
    position: relative;
}

.text-see-all-terbaik, .text-see-all-terbaru{
    position: absolute;
    margin-left: -17em;
    margin-top: 0.8em;
}

.icon-terbaru{
    width: 1.5em;
}

.gambar-terbaru{
    border-radius: 23px 0px;
}

.row1terbaru{
    margin-top: 3.5em;
    font-size: 0.7em;
}

.konten{
    margin-top: 3.5em;
    margin-bottom: 1.5em;
}

.emailsignupbutton{
    margin-left: -2.9vw;
    margin-top: 0;
    height: 2.23em;
}

.fontfooter{
    font-size: 0.8em;
}

.tab{
    padding-left: 0.1em;
}

.syarat{
    text-align: right;
    font-size: 0.8em;
}

.copyright{
    color: #FFCB0A;
    font-size: 0.9em;
    margin-top: 2.1em;
    margin-left: 8.3em;
}

.tahun{
    padding-right: 2.7em;
}

.qrcodeline{
    width: 100%;
}

/*daftar.html*/
.containerdaftar{
    margin-top: 3em;
    width: 70%;
    background: none;
}
.signupform{
    width: 100%;
    position: relative;
    z-index: 0;
}

.fbbutton{
    width: 100%;
}

.twitterbutton{
    width: 100%;
}

.inputsignup{
    margin-top: 11vw;
    margin-left: 5.5vw;
}
.signupinput{
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    width: 90%;
    padding-left: 1em;
    margin-bottom: 10px;
    border-radius: 12px 0px;   
    background-color: #FFECA7 !important;
    border: none;
}
.submitpicture1{
    margin-top: 0.8vw;
    width: 90%;
    background: none !important;
    border: none !important;
}
.masuk{
    margin-left: 4.5vw;
    margin-top: 33vw;
}

.kuning{
    color: #FFCB0A !important;
}

a{
    color: black;
}


.afooter{
    color:white !important;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}
.masuk > a:link{
    color: #FFECA7;
}

/*dekorasi.html*/
.dekorasibody{
    background: url('../img/Pattern-Dekorasi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.teknologibody{
    background: url('../img/Pattern-Teknologi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.masakanbody{
    background: url('../img/Pattern-Masakan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.kerajinanbody{
    background: url('../img/Pattern-Kerajinan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.headerdekorasi{
    padding-top: 5em;
    margin-right: -1em;
}

.background-headerdekorasi{
    position: relative;
    width: 100%;
}

.searchheader{
    position: absolute;
    margin-left: 29vw;
    margin-top: -2em;
    font-size: 2.5em;
}

.text-headerdekorasi{
    position: absolute;
    margin-left: 1.5em;
    margin-top: -2em;
    font-size: 2.5em;
}
.text-caption-headerdekorasi{
    position: absolute;
    margin-left: 13em;
    margin-top: -3em;
    font-size: 1.2em;
}   
.whitebackground{
    background: white;
    background-size: cover;
}
.container80{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.leftborder{
    border-radius: 23px 0px 0px 0px; 
    border-left: 1px solid #FFCB0A;
}
.item-dekor{
    border-radius: 23px 0px;
    width: 20em;
}
.kontendekor{
    padding-top: 3em;
    padding-bottom: 3em;
}

/* indexsudahlogin.html*/
.profilename{
    font-size: 0.9em;
    color:  #FFCB0A;
    padding-left: 0.5em !important;
    margin-top: 0.5em !important;
    padding-right: 0.5em !important;
}

.buttonprofile{
    background: none;
    border-left: 1px solid #FFCB0A;
    border-radius: 0px !important;
}

.profile{
    display: inline-block;
    padding-top: 1em;
    margin-top: -4vw;
    margin-left: 25vw;
    height: 11vw;
}

.profile-thumbnail{
display: inline-block; 
}

.caret{
    color: white !important;
}

.dropdown-menu>li>a{
    padding-left: 2em;
    border-radius: 100px 0px !important;
}

.dropdownprofile{
    border-radius: 50px 0px;
    border: 1px solid #FFCB0A;
}
.keluaritem{
    height: 1.9em;
}

/*addproduct.html*/
.addproduct{
    margin-top: 5em;
    margin-bottom: 5em;
}

.display-main-picture{
    width: 800px;
    display: none;
}

.upload-picture{
    display: table-cell;
    max-width: 220px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
 .btn-file, .btn-file {
     position: relative;
     overflow: hidden;
}
.btn-file input[type=file], .btn-file2 input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#img-upload, .img-upload2{
    width: 100%;
}
.pilihfoto{
    width: 100%;
}
input[type="text"]:read-only { 
    background-color: white;
    border: 0px;
    border-radius: 0px;
    height: 100%;
}
.formaddproduct{
    padding-top: 2vw;
    border-radius: 50px 0px;
    border: 1px solid #FFCB0A;
}

.formproduct{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1em;
}

.textleft{
    text-align: left !important;
}

.inputform{
    font-family: 'Conv_FF Mark Pro Regular';
    padding-left: 1em;
    margin-bottom: 1em;
    height: 2em !important;
    border-radius: 12px 0px;  
    background-color: #FFECA7 !important;
    border: none;
}

#penjelasankarya, #penjelasanlangkah{
    font-family: 'Conv_FF Mark Pro Regular';
    padding-left: 1em;
    margin-bottom: 1em;
    border-radius: 12px 0px;  
    background-color: #FFECA7 !important;
    border: none;
}
div .stars {
  background: url("../img/rating.png") repeat-x 0 0;
  width: 150px;
  margin: 0 0;
}

div .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
div .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
div .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
div .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
div .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
div .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
div .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
div .stars label:hover ~ span {
  background-position: 0 -30px;
}
div .stars label.star-5:hover ~ span {
  width: 100% !important;
}
div .stars label.star-4:hover ~ span {
  width: 80% !important;
}
div .stars label.star-3:hover ~ span {
  width: 60% !important;
}
div .stars label.star-2:hover ~ span {
  width: 40% !important;
}
div .stars label.star-1:hover ~ span {
  width: 20% !important;
}
div .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../img/rating.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}   

.harga1{
    width: 10em;
    padding-right: 0px !important;
}

.harga2{
    width:13.4em;
}

#penjelasankarya, #penjelasanlangkah{
    resize: none;
}

.tambahalat{
    background: url('../img/alat.png') no-repeat;
    background-size: contain;
    border: none;
}

.tambahbahan{
    background: url('../img/bahan.png') no-repeat;
    background-size: contain;
    border: none;
}

.tambahgambar{
    background: url('../img/Gambar.png') no-repeat;
    background-size: contain;
    border: none;
    margin-right: 1em;
}
.tambahlangkah{
    background: url('../img/langkah.png') no-repeat;
    background-size: contain;
    border: none;
    margin-right: -1em;
}

.addalatleft{
    margin-left: 0.5em;
}

input[type="radio"]{
    display:none; 
    margin:10px;
}

input[type=radio]{
    background: url('../img/firstradiobutton.png') no-repeat;
}

input[type=radio] + label {
    display:inline-block;
    padding: 4px 12px;
/*    background-color: #e7e7e7;*/
    background: url('../img/firstradiobutton.png') no-repeat;
    background-size: contain;
    border-color: #ddd;
}
input[type=radio]:checked + label { 
    background: url('../img/secondradiobutton.png') no-repeat;
    background-size: contain;
/*   background-image: none;*/
/*    background-color:#d0d0d0;*/
}
.hidden{
    overflow: hidden;
}

.inputjudulgambar{
    width: 27em;
}
.tambahangambar{
    margin-left: -0.28em;
}
.tambahlangkah{
    margin-right: 0.0125em;
}
.tambahlangkahhr{
    margin-top: 2.3em;
    margin-left: 1em;
    margin-right: 1em;
}
#dynamicInput3{
    margin-left: 1em;
    margin-right: 1em;
}

/*myprofile.html*/
.profilebody{
    background: url('../img/Pattern-Full-1.png') no-repeat;
    background-size: cover;
    
}

.namaprofile{
    margin-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

.username{
    background: url('../img/BAR-1.png') no-repeat;
    background-size: contain;
    font-size: 2.5em;
    padding-top: 0.385em;
    padding-bottom: 0.4em;
    padding-left: 1.2em;
    
}

.profiledetails{
    padding-left: 2em;
    padding-right: 2em;
}

.fotoprofile{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 3em;
}

.detailprofil{
    padding-right: 3em;
    margin-top: 1em;
    border-radius: 30px 0px;
    border: 1px solid #FFCB0A;
    font-family: 'Conv_FF Mark Pro Regular';
    padding-left: 1em;
    padding-top: 1.5em;
}
.labelprofil{
    font-family: 'Conv_FF Mark Pro Bold';
}
.kontenprofil{
    margin-bottom:1em; 
}
.genderprofil{
    margin-left: 1em;
    width: 1.5em;
}
.lsprofile{   
    width: 13em;
}
.lsright{
    text-align: right;
    margin-right: -3.1em;
}
.picon{
    padding-right: 0px;
}
.penghargaanicon{
    width: 100%;
}
.penghargaandetail{
    margin-top: 1em;
}
.penghargaan{
    font-family: 'Conv_FF Mark Pro Regular';
    font-size: 1.2em;
    padding-left: 0px;
}
.penghargaannumber{
    font-family: 'Conv_FF Mark Pro Bold';
}
#selengkapnya{
    display: none;
    margin-top: 1em;
}
.biotext{
     font-family: 'Conv_FF Mark Pro Regular';
    font-size: 0.9em;
}
.reset{
    font-family: 'Conv_FF Mark Pro Regular';
}
.resetbtn{
    border: 0;
    border-radius: 0;
    background: none;
}
.bariskarya{
    margin-bottom: 5em;
}
.bariskaryabar{
    width: 100%;
    margin-bottom: 2em;
}

.item-bariskarya{
    border-radius: 20px 0px;
    width: 100%;
}

.terbaikpin, .fotonama{
    position: relative;
}
.imgpin{
    position: absolute; 
    z-index: 1; 
    top: 0; 
    right: 0;
}
.pin{
    width: 100%;
}

/*tentangkami.html*/
.kontententangkami{
    margin-top: 3em;
    border: 1px solid #FFCB0A;
    border-radius: 100px 100px 0px 0px;
    font-family: 'Conv_FF Mark Pro Regular';
}

.ceritakamimg{
    width: 100%;
    margin-bottom: 1em;
}

.fotoceritakami{
    width: 100%;
    border-radius: 50px 0px 50px 0px;
}
.mtop1koma5em{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.fotoorang{
    width: 100%;
    border-radius: 50px 0px 50px 0px;
}
.imgnama{
    position: absolute; 
    z-index: 1; 
    bottom: 0; 
    left: 0;
}
.barnama{
    width: 100%;
    position: relative;
}
.namakami{
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 25%;
}
.fotonama{
    margin-top: 1.5em;
}

/*artikel.html*/
.borderkiriall{
    margin-top: 3em;
    border-left: 1px solid #FFCB0A;
    border-radius: 50px 0px 0px 0px;
    padding: 0px;
    font-family: 'Conv_FF Mark Pro Regular';
}
.headerproduk{
    width: 90%;
    position:relative;
}
.judulkarya1{
    position:absolute;
    top: 0;
    left: 2em;
    z-index: 1;
    width: 90%;
}
.karya{
    top: 2.8em;
    padding-left: 0px;
    margin-left: -1em;
}
.opsidisukai{
    width: 100%;
    margin-left: -0.4em;
}
.tambahkoleksi{
    width: 90%;
    margin-left: -2.5em;
}
.bagikankarya{
    width:83%;   
    margin-left: -5.8em;
}
.terbaikpinkarya{
    top: -3.5em;
}

/*artikelsudahlogin.html*/
.editproduk{
    width: 150%;
    margin-left: -6.9em;
}
.opsidisukaisl{
    width: 100%;
    margin-left: -4.5em;
}
.tambahkoleksisl{
    width: 90%;
    margin-left: -6.5em;
}
.bagikankaryasl{
    width:83%;   
    margin-top: -5.2em;
    margin-left: 5.3em;
}
.detilkarya{
    border-right: 1px solid #FFCB0A;
}
.fotokarya{
    width: 100%;
    border-radius: 50px 0px;
    position: relative;
}
.backk{
    width: 25%;
    position: absolute;
    top: 2px;
    right: 16px;
}
.kontenkk{
    color:white;
    position: absolute;
    top: 1em;
    right: 2.5em;
}
.stikerverifikasi{
    position: absolute;
    width: 13%;
    top: 2px;
    left: 16px;
}
.gambarkarya{
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.tk{
    margin-bottom: 1em;
}
.bintangkarya{
    width: 70%;
}
.tktext{
    padding-right: 0px;
}
.adeskripsikarya{
    font-size: 0.85em;
}
.akontenalat{
    margin-left: -2em;
    font-size: 0.85em;
}
.aboutkreator{
    border-radius: 30px 0px;
    border: 1px solid #FFCB0A;
}
.seputarkreator{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    background: #FFCB0A;
    border-radius: 50px 0px 0px 0px;
}
.icondilihat{
    width: 100%;
}
.dilihat{
    padding-top: 0.8em;
}
.fotokreator{
    margin-top: 1.5em;
    width: 20%;
    border-radius: 20px 0px 0px 0px;
}
.namakreator{
    margin-top: -0.8em;
}
.hrak{
    margin-left: 15px;
    margin-right: 15px;
}
.fotokaryalainnya{
    width: 100%;
    border-radius: 20px 0px;
}
.paddingstgh{
    padding: 0.2em;
}
.fotokl{
    margin-bottom: 1.5em;
}
.langkah{
    border-radius: 30px 0px 0px 0px;
    border: 1px solid #FFCB0A;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 95%;
}
.gambarlangkah1, .gambarlangkah3{
    border-radius: 30px 0px 0px 0px;
    width: 100%;
}
.lg{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0px 0px 0px 30px;
    border: 1px solid #FFCB0A;
    text-align: center;
    margin-right: -3px;
}
.relative{
    position: relative;
}
.captionlangkah{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.textcaptionlangkah{
    position: absolute;
    bottom: 0.5em;
    left: 0.8em;
}
.captionimglangkah{
    position: absolute;
    bottom: -0.2em;
    left: -1.8em;
    width: 100%;
}
.textcaptionlangkah2{
    color: white;
    position: absolute;
    bottom: 0.5em;
    left: 0.8em;    
}
.modal-content{
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.modal-footer{
    border: none;
    margin-top: -1em;
    padding: 0px;
    text-align: left;
}
#prev-btn, #next-btn{
    width: 3em;
    border: none;
    background:none;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    color: white;
    font-size: 36pt;
    padding: 0px;
}
#next-btn{
/*    margin-top: -4.1em;*/
    float: right !important;
}
.blabel{
    position: relative;
    width: 100%;
}
.tlabel{
    position: absolute;
    bottom: 1.2em;
    left: 1.5em;
    color: black;
    font-size: 1.3em;
}
.bataskekomen{
    margin-top: -1em;
}
.formkomentar{
    background: url('../img/Form%20komentar.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 2em;
}
.fpkomentar{
    width: 100%;
}
#textkomentar{
    resize: none;
    font-family: 'Conv_FF Mark Pro Regular';
    padding-left: 1em;
    border-radius: 0px 0px 50px 0px; 
    border: none;
    position: relative;
}
.pilihgambar{
    width: 3vw;
}
.btn-file2{
    margin-top: -1.8em;
    overflow: hidden;
    position: relative;
}
.kirim{
    height: 2.4vw;
    margin-left: -1.4vw;
    display: inline-block;
}
.maskot-oke{
    width: 100%;
}