<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="author" content="Fitra Rahmamuliani">
        <meta name="description" content="Home Page">
        <title> Home - Ngebuat.com</title>
    </head>
    <body>
        <div class="container-fluid teknologibody">
            <nav class="navigation row">
                    <div class="col-md-2 space"></div>
                    <div class="col-md-2 nopadding">
                        <input type="text" class="form-control input-sm searchtutorial" placeholder="Ayo cari tutorialnya" />
                    </div>
                    <div class="col-md-1 nopadding"><a href="#"><img class="img-responsive searchbutton btn-navbar" src="img/BAR-04.png"></a></div>
                    <div class="col-md-1 nopadding"><a href="#"><img class="img-responsive bantuanbutton btn-navbar" src="img/BAR-05.png"></a></div>
                    <div class="col-md-1 nopadding"><a href="#"><img class="img-responsive bagikanbutton btn-navbar" src="img/BAR-06.png"></a></div>
                    <div class="col-md-1 nopadding"><a href="daftar.html"><img class="img-responsive daftarbutton btn-navbar" src="img/BAR-07.png"></a></div>
                    <div class="col-md-1 nopadding"><a href="#"><img class="img-responsive masukbutton btn-navbar" src="img/BAR-08.png"></a></div>
            </nav>
            <div class="container80">
                <div class="headerdekorasi whitebackground">
                    <img class="background-headerdekorasi" src="img/BAR-Title.png">
                    <span class="text-headerdekorasi">Teknologi</span>
                </div>
            </div>
            <div class="container80 whitebackground leftborder kontendekor">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                </div>
                <div class="row2 row">
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                </div>
                <div class="row2 row">
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                    <div class="col-sm-4">
                        <img class="item-dekor" src="img/contoh.jpg">
                        <div class="judul-dekor">Macrame Hanging Chandelier</div>
                        <div class="karya-dekor">karya Melmaria</div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-index">
            <div class="container">
                <div class="konten">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <img class="maskot-oke col-sm-4" src="img/1.png">
                                <div class="col-sm-8">
                                    <span class="col-sm-9 nopadding">Ayo daftarkan dirimu dan dapatkan info-info terbaru dan terbaik di email kamu.</span>
                                    <div class="row">
                                        <input type="text" class="col-sm-1 form-control input-sm emailsignup" placeholder="Masukan email" />
                                        <div class="col-sm-4 nopadding"><a href="#"><img class="img-responsive emailsignupbutton" src="img/BAR-08.png"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Mobile</h4>
                            <div class="fontfooter">
                                <a href="#" class="afooter">Unduh Aplikasinya !</a>
                                <br> <br>
                                <a href="#" class="afooter">Android   &emsp; &ensp; &gt;</a>
                                <br>
                                <a href="#" class="afooter">iOS     &emsp;&emsp;&ensp;&nbsp;&emsp;    &gt;</a>
                                <br>
                                <a href="#" class="afooter">Windows &emsp; &gt;</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Tentang Kami</h4>
                            <div class="fontfooter">
                                <a href="#" class="afooter">Siapa kami ?</a>
                                <br> <br>
                                <a href="#" class="afooter">Kontak &emsp;&emsp;&nbsp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Pekerjaan &emsp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Bantuan &emsp;&ensp;&gt;</a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Temukan Kami</h4>
                            <div class="fontfooter">
                                <br> <br>
                                <a href="#" class="afooter">Facebook &emsp;&ensp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Instagram &emsp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Youtube &emsp;&emsp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Twitter &emsp;&emsp;&ensp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Pinterest &emsp;&ensp;&gt;</a>
                                <br>
                                <a href="#" class="afooter">Google&#43;&emsp;&emsp;&nbsp;&gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="syarat">
                        <a href="#" class="afooter">Syarat dan Ketentuan</a> | <a href="#" class="afooter">Kebijakan Privasi</a>
                    </div>
                    <div class="copyright">
                        <span class="tahun">2016</span>
                        <span class="ngebuatcom">Ngebuat.com</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>